---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 10
---
<p>I am a person interested in the history of ancient China. This is a blog where I share my findings of this fascinating civilization as I learn more about it in my school course, stay tuned! More blog posts to come.</p>
<h1>All my Blog Posts</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
